@mixin dimensions($width, $height) {
    width: $width;
    height: $height;
}

@mixin possitionTopLeft($position, $top, $left) {
    position: $position;
    top: $top;
    left: $left;
}

@mixin image($url, $position, $size) {
    background: url($url) no-repeat;
    background-position: $position;
    background-size: $size;
}

@mixin font($family, $color, $size, $transform, $align) {
    font-family: $family;
    color: $color;
    font-size: $size;
    text-transform: $transform;
    text-align: $align;
}

.testimonials {
    @include possitionTopLeft(relative, 0, 0);
    height: 75vw;

    .squares {
        @include dimensions(3vw, 1vw);
        @include possitionTopLeft(relative, -13vw, 50%);
        transform: translate(-50%);

        display: flex;
        gap: 0.3vw;

        .square, .black_square {
            @include dimensions(0.7vw, 0.7vw);
            border: #262626 solid 0.1vw;
        }

        .black_square {
            background-color: #262626;
        }
    }

    h4 {
        @include font('Asap-Medium', #3b3b3b, 2vw, uppercase, left);
        font-weight: bold;
    }
}

.block {
    display: grid;
    grid-template-columns: 10vw 45vw;
    gap: 3vw;

    @include possitionTopLeft(relative, 5vw, 50%);
    transform: translate(-50%);
    @include dimensions(55vw, 15vw);
    border: #262626 solid 0.1vw;

    padding: 5vw 6vw 3vw 9vw;

    margin-bottom: 15vw;

    .img_3 {
        @include dimensions(11vw, 11vw);
        @include image('../../../assets/images/img_3.png', center, 100%);
    }

    span {
        @include font('Asap-Medium', #7b7b7b, 1vw, uppercase, left);
    }

    p {
        margin-top: 1vw;
        @include font('Asap-Regular', #7b7b7b, 1.2vw, uppercase, left);
    }
}

.statistics {
    @include possitionTopLeft(relative, 1vw, 50%);
    transform: translate(-50%);
    @include dimensions(80vw, 13vw);

    display: flex;
    gap: 11.5vw;

    h4 {
        margin: 1vw 0 0.5vw 0;
        @include dimensions(auto, 2vw);
        text-align: center;
    }

    h5 {
        @include font('Asap-Regular', #3b3b3b, 1.5vw, uppercase, center);
    }

    .hands_to_work,
    .happy_client,
    .coffee,
    .finished_project {
        @include possitionTopLeft(relative, 0, 50%);
        transform: translate(-50%);
        @include dimensions(6.5vw, 6.5vw);

    }

    .hands_to_work {
        @include image('../../../assets/images/hands_to_work.png', center, 100%);
    }

    .happy_client {
        @include image('../../../assets/images/happy_client.png', center, 80%);
    }

    .finished_project {
        @include image('../../../assets/images/finished_project.png', 70%, 75%);
    }

    .coffee {
        @include image('../../../assets/images/coffee.png', center, 80%);
    }

}