@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin possitionTopLeft($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin image($url, $position, $size) {
  background: url($url) no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin font($family, $color, $size, $transform, $align) {
  font-family: $family;
  color: $color;
  font-size: $size;
  text-transform: $transform;
  text-align: $align;
}

.App {
  p, span {
    margin: 0;
  }

  button {
    @include font('Asap-Medium', #4d4d4d, 1.2vw, uppercase, center);
    font-weight: bold;
    letter-spacing: 0.1vw;
    background: none;
    border: solid 0.1vw #727272;
    padding: 1vw 3vw;

  }

  button:hover {
    background-color: white;
    border-color: white;
    box-shadow: 0 1vw 1vw #d3d3d3;
  }
 
}

@font-face {
  /* Lato-Light */
  font-family: "Lato-Light"; 
  src: url("./assets/fonts/Lato/Lato-Light.ttf") format("truetype");
  } 

@font-face {
  /* Lato-Regular */
  font-family: "Lato-Regular"; 
  src: url("./assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
  } 

@font-face {
  /* Asap-Regular */
  font-family: "Asap-Regular"; 
  src: url("./assets/fonts/Asap/static/Asap/Asap-Regular.ttf") format("truetype");
  } 

@font-face {
  /* Asap-Medium */
  font-family: "Asap-Medium"; 
  src: url("./assets/fonts/Asap/static/Asap/Asap-Medium.ttf") format("truetype");
  } 